- if session[:user_id].nil?
  = render 'page_404'
- else
  .right_align_table
    %h1
      Поданные заявки
    %br
    %table
    - @users.each do |user|
      %tr
        %td= user.first_name + " " + user.middle_name + " " + user.last_name
        %td= link_to 'Показать', user
      %br
