.welcome_content#scene
  %ul
    %li.layer{ data: { depth: 0.10 }}
      .pulldown_logo
        = image_tag 'logo.png'
      .genry
        = image_tag 'genry.png'
      .com_title.micfont
        XI Конкурс начинающих журналистов
        %h4
          Ульяновской области
        .big_com_title
          "Новый взгляд"
      .com_title.italic.micfont
        Участвуешь в конкурсе?
      - unless user_signed_in?
        .com_title
          %a.button{ href: new_user_path }
            ЗАРЕГИСТРИРОВАТЬСЯ
        .com_title
          %small
            %a
              см. Положение
      - else
        .com_title
          %a.button{ href: user_path(current_user) }
            Посмотри свой профиль
