.jumbotron
  %h1 Добрый день!
  %p.lead
    Если тебя принесло  на эту страничку неслучайно, значит ты хочешь стать участником IX конкурса начинающих журналистов Ульяновской области «Новый взгляд». Прежде чем приступить к размещению конкурсных материалов, ещё раз внимательно прочитай условия
    = succeed "." do
      %a{href: "http://vk.com/away.php?to=http%3A%2F%2Fulmic.ru%2Fattachments%2Farticle%2F2456%2Fpol-nv_2013.doc"} Положения конкурса
    %br/
    %br/
    Контакты оргкомитета конкурса:
    %br/
    +7-8422-96-43-37
    %br/
    ul.molcenter@gmail.com
    %br/
  %a.btn.btn-large.btn-success{href: "/users/new"} Пройти регистрацию
