#scene
  %ul
    %li.layer{ data: { depth: 0.10 }}
      .pulldown_logo
        = image_tag 'logo.png'
      .genry
        = image_tag 'genry.png'
      .com_title.micfont
        X Конкурс начинающих журналистов
        %h4
          Ульяновской области
        .big_com_title
          "Новый взгляд"
      .com_title.italic.micfont
        Участвуешь в конкурсе?
      .com_title
        %a.button{ href: new_user_path }
          ЗАРЕГИСТРИРОВАТЬСЯ
        %br
      .com_title
        %small
          %a
            см. Положение
