.slider
  .slide
    .border
      .contest_title
        %h1
          НОВЫЙ ВЗГЛЯД
      .logo
        INФОРМАТ
  .slide
    .border
      %b{ data: { position: '100,100' } }
        fuck 2
      .logo
        INФОРМАТ
  .slide
    .border
      = yield
      .logo
        INФОРМАТ
      = render "layouts/footer"
  .fs-loader
  .pager
