%h1 ЖУРНАЛИСТСКИЙ МАТЕРИАЛ НА ОЦЕНКУ
Здесь тебе необходимо указать данные журналистского материала, который ты предлагаешь для оценки членами Экспертного совета конкурса "Новый взгляд"

= render 'form'

