/*
 *= require_self
 *= require_tree .
 */

@import "bootswatch/yeti/variables"
@import "bootstrap"
@import "bootswatch/yeti/bootswatch"

@font-face
  font-family: micfont
  src: url(/fonts/PFSquareSansPro-Regular.ttf)

@font-face
  font-family: bold_mic_font
  src: font-url('/fonts/PFSquareSansPro-Medium.ttf')

body
  font-family: micfont
  background: linear-gradient(to bottom, #eef2f5 0%, #cecfd1 100%)
  background-size: 100% 100%
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: fixed

.title
  text-align: center
  margin-top: 10px

.body
  .right-side, .left-side
    width: 49%
    float: left
  .right-side
  .left-side
    border-left: 1px solid lightgray
    padding-left: 10px

h1
  font-family: bold_mic_font
  font-size: 35px
