.right_align_table
  %h1
    Поданные заявки
  %br
  %table
  - @users.each do |user|
    %tr
      %td= user.decorate.title
      %td= link_to 'Показать', user
      %td= link_to 'Журналисткая работа', user.public_work
      %td= link_to 'Портфолио', user.portfolio.url
    %br
